#PWskills 30th Jan Assignment

Q1.Write a program to accept percentage from the user and display the grade according to tha following criteria:
Percentage    Grade
>90            A
>80 and <=90   B
>60 and <=80   C
below 60       D

In [1]:
percent = int(input())
if(percent>90):
    print("Grade: A")
elif(percent>80 and percent<=90):
    print("Grade: B")
elif(percent>60 and percent<=80):
    print("Grade: C")
else:
    print("Grade: D")

 75

Grade: C

Q2.Write a program to accept the cost price â€¢f a bike and display the 	tax to be paid according to the  criteria:
Tax              Cost Price(IN Rs)
15%              100000
10%              >= 50000 and 100000
5%               <50000

In [2]:
cost_price = int(input())
if(cost_price>100000):
    print("Tax:", cost_price*15/100)
elif(cost_price>50000 and cost_price<=100000):
    print("Tax:",cost_price*10/100)
else:
    print("Tax:", cost_price*5/100)

 75000

Tax: 7500.0

Q3.Accept any city from user and  rno num ents of that city.
City              Monuments
Delhi             Red Fort
Agra              Taj Mahal
Jaipur            Jal Mahal

In [4]:
city = input()
if(city=="Delhi"):
    print("Monument: Red Fort")
elif(city=="Agra"):
    print("Monument: Taj Mahal")
elif(city == "Jaipur"):
    print("Monument: Jal Mahal")

 Delhi

Monument: Red Fort

Q4.Check how many times a given number can be divided by before it is less than or equal to 10.

In [7]:
number= int(input())
count = 0
while(number/3>10):
    number=number/3
    count=count+1
print(count)

 3000

5

Q5. Why and When to use While loop explain with detailed example

The while loop is usually used when the number of iterations is unknown.
1.A while loop evaluates the condition
2.If the condition evaluates to True, the code inside the while loop is executed.
condition is evaluated again.
3.This process continues until the condition is False.
4.When condition evaluates to False, the loop stops.

In [9]:
# program to calculate the sum of numbers
# until the user enters zero

total = 0

number = int(input('Enter a number: '))

# add numbers until number is zero
while number != 0:
    total += number    # total = total + number
    
    # take integer input again
    number = int(input('Enter a number: '))
    

print('total =', total)

Enter a number:  10
Enter a number:  2
Enter a number:  3
Enter a number:  0

total = 15

Q6. Use nested while loop to print 3 different ** pattern

In [10]:
def pattern(n):
   i = 1
   while i <= n :
      j = 1
      while j <= i:
         # printing stars
         print("*", end=" ")
         j = j + 1
      print()
      i = i + 1
 
# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows:  5

*
* *
* * *
* * * *
* * * * *

In [12]:
def pattern(n):
   i = 1
   while i <= n :
      j = n
      while j >= i:
         # printing stars
         print("*", end=" ")
         j = j - 1
      print()
      i = i + 1
 
# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows:  6

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [13]:
def pattern(n):
   i = 1
   while i<=n:
      # printing stars
      print(" "*(n-i) + "*" * i)
      i+=1 
 
# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows:  6

     *
    **
   ***
  ****
 *****
******

Q7. reverse a while loop to display number from 10 to 1

In [14]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1